[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "anthropic-admin>=0.1.0",
    "langchain>=1.1.0",
    "langchain-anthropic>=1.2.0",
    "pydantic>=2.12.5",
    "pypdf>=6.4.0",
]
